.nav{
    width: 101.5%;
    height: 75px;
    background-color: #7828FD;
    margin-top: -10px;
    margin-left: -8px;
}
.a{
    color: #ffffff;
    margin-left: 1650px;
    font-size: 16px;
    padding-top: 27px;
}
.b{
    color: #ffffff;
    font-size: 16px;
    margin-top: -31px;
    margin-left: 1400px;
}
.c{
    color: #ffffff;
    font-size: 16px;
    margin-top: -31px;
    margin-left: 1205px;
}
.d{
    color: #ffffff;
    font-size: 16px;
    margin-top: -31px;
    margin-left: 1005px;
}
.e{
    color: #ffffff;
    font-size: 16px;
    margin-top: -31px;
    margin-left: 845px;
}
.f{
    color: #ffffff;
    font-size: 16px;
    margin-top: -31px;
    margin-left: 715px;
}
.box{
    width: 250px;
    height: 70px;
    background-color: #00000014;
    margin-top: 60px;
    margin-left: 140px;
    border-radius: 5px;
}
.boxx{
    width: 250px;
    height: 70px;
    background-color: #f8e15f;
    margin-top: -78px;
    margin-left: 135px;
    border-radius: 5px;  
}
.boxt{
    width: 1440px;
    height: 555px;
    background-color: #00000014;
    border-radius: 5px;
    margin-left: 145px;
    margin-top: -3px;

}
.boxtt{
    width: 1445px;
    height: 550px;
    background-color: #fffbc7;
    border-radius: 5px;
    margin-left: 134px;
    margin-top: -578px;
}
.boxpic{
    width: 250px;
    height: 70px;
    background-color: #00000014;
    margin-top: 70px;
    margin-left: 130px;
    border-radius: 5px;
}
.boxxpic{
    width: 250px;
    height: 70px;
    background-color: #f8e15f;
    margin-top: -88px;
    margin-left: 125px;
    border-radius: 5px;
}
.pic1{
    width: 400px;
    height: 410px;
    background-color: #fffbc7;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 125px;
}
.pic2{
    width: 400px;
    height: 410px;
    background-color: #fffbc7;
    border-radius: 5px;
    margin-top: -410px;
    margin-left: 750px;
}
.pic3{
    width: 400px;
    height: 410px;
    background-color: #fffbc7;
    border-radius: 5px;
    margin-top: -410px;
    margin-left: 1370px;
}
.pic4{
    width: 400px;
    height: 410px;
    background-color: #fffbc7;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 125px;
}
.pic5{
    width: 400px;
    height: 410px;
    background-color: #fffbc7;
    border-radius: 5px;
    margin-top: -410px;
    margin-left: 750px;
}
.pic6{
    width: 400px;
    height: 410px;
    background-color: #fffbc7;
    border-radius: 5px;
    margin-top: -410px;
    margin-left: 1370px;
}
.boxpicc{
    width: 350px;
    height: 70px;
    background-color: #00000014;
    margin-top: 70px;
    margin-left: 130px;
    border-radius: 5px;
}
.boxxpicc{
    width: 350px;
    height: 70px;
    background-color: #f8e15f;
    margin-top: -88px;
    margin-left: 125px;
    border-radius: 5px;
}
.video1{
    width:650px;
    height: 410px;
    background-color: #fffbc7;
    border-radius: 5px;
    margin-left: 125px;
    margin-top: 30px;
   
}
.video2{
    width:650px;
    height: 410px;
    background-color: #fffbc7;
    border-radius: 5px;
    margin-left: 1125px;
    margin-top: -410px;
   
}

